---
import Layout from "@/layouts/Layout.astro";

import AboutMe from "@/components/AboutMe.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import CodeIcon from "@/components/icons/Code.astro";
import Experience from "@/components/Experience.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import Projects from "@/components/Projects.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
import TitleSection from "@/components/TitleSection.astro";
import Skills from "@/components/Skills.astro";
import SystemIcon from "@/components/icons/System.astro";
import Education from "@/components/Education.astro";
import SchoolIcon from "@/components/icons/School.astro";
---

<Layout
  title="Porfolio de Victor - Técnico en Programación de Software y Desarrollador Web."
  description="Contrata a Victor para crear tu aplicación web. Desarrollador especializado en crear soluciones tecnológicas eficientes y aplicaciones únicas."
>
  <main class="px-4 mb-50">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
    
    <div class="space-y-24">
      
      <SectionContainer id="habilidades" class="reveal">
        <TitleSection>
          <CodeIcon class="size-7" />
          Habilidades y Tecnologías
        </TitleSection>
        <Skills />
      </SectionContainer>
      
      <SectionContainer id="sobre-mi" class="reveal">
        <TitleSection>
          <ProfileCheck class="size-8" />
          Sobre mí
        </TitleSection>
        <AboutMe />
      </SectionContainer>
      
      <SectionContainer id="educacion" class="reveal">
        <TitleSection>
          <SchoolIcon class="size-8" />
          Educación
        </TitleSection>
        <Education />
      </SectionContainer>
      
      <SectionContainer id="proyectos" class="reveal">
        <TitleSection>
          <CodeIcon class="size-7" />
          Proyectos destacados
        </TitleSection>
        <Projects />
      </SectionContainer>
      
    </div>
  </main>
</Layout>