---
 const personalImageAlt = "Miguel Ángel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div class="[&>p]:mb-4 [&>p>strong]:text-blue-600 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
    <p>
      Soy Técnico en Programación de Software y Desarrollador Full Stack. Cuento con una sólida base en el desarrollo de interfaces dinámicas (React, TypeScript, Tailwind CSS, Astro) y me destaco en la construcción de arquitecturas backend robustas y escalables utilizando Java con Spring Boot y Python con FastAPI.
    </p>
    <p>
      Me apasiona crear soluciones tecnológicas integrales que generen un impacto real en las operaciones empresariales. En mis proyectos aplico patrones de diseño avanzados (como Arquitectura Hexagonal), seguridad mediante JWT y diseño de bases de datos relacionales (MySQL).
    </p>
    <p>
      Trabajo con un enfoque fuertemente colaborativo y me adapto con facilidad a entornos que utilizan metodologías ágiles (Scrum). Mi objetivo es seguir evolucionando profesionalmente, aportando mi capacidad de resolución de problemas, energía y compromiso a equipos de desarrollo que busquen llevar sus productos al siguiente nivel.
    </p>
   
  </div>

  <img width="200" height="200" src="/iamgen_cv.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>