---
 const personalImageAlt = "Victor Moreno"
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  
  <div class="mt-6 text-lg text-gray-800 dark:text-gray-300 leading-relaxed text-pretty order-2 md:order-1[&>p]:mb-6 [&_strong]:font-semibold [&_strong]:text-blue-600 dark:[&_strong]:text-cyan-400">
    <p set:html={t('aboutMe.p1')}></p>
    <p set:html={t('aboutMe.p2')}></p>
    <p set:html={t('aboutMe.p3')}></p>
   
  </div>

  <img width="200" height="200" src="/iamgen_cv.png" alt={personalImageAlt} class="levitate-photo order-1 object-cover w-64 h-full p-1 md:order-2 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20" style="object-position: 50% 50%">

</article>

<style>
  @keyframes levitate {
    0%   { transform: translateY(0px) rotate(4deg); }
    50%  { transform: translateY(-15px) rotate(7deg); }
    100% { transform: translateY(0px) rotate(4deg); }
  }

  .levitate-photo {
    animation: levitate 5s ease-in-out infinite;
  }
</style>