---
import ExperienceItem from "./ExperienceItem.astro"
import Link from "./icons/Link.astro"
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const EDUCATION = [
  {
    date: t("education.item1.date"),
    title: t("education.item1.title"),
    company: t("education.item1.school"),
    description: t("education.item1.description"),
  },
  {
    date: t("education.item2.date"),
    title: t("education.item2.title"),
    company: t("education.item2.school"),
    description: t("education.item2.description"),
    link: "https://drive.google.com/file/d/1i_B6cARG7Loun5q2p-qRs_TPViEXDXuH/view?usp=sharing", 
    linkName: t("education.item2.certificate")
},
  {
    date: t("education.item3.date"), 
    title: t("education.item3.title"),
    company: t("education.item3.school"),
    description: t("education.item3.description"),
  },
  {
    date: t("education.item4.date"),
    title: t("education.item4.title"),
    company: t("education.item4.school"),
    description: t("education.item4.description"),
    link: "https://drive.google.com/file/d/1PUExURqLemsTHqHJDID0pnX2YzxkPLKQ/view?usp=sharing",
    linkName: t("education.item4.certificate"),
  }
]
---

<ol class="relative mt-16">
  {
    EDUCATION.map((education) => (
      <li class="">
        <ExperienceItem {...education} />
      </li>
    ))
  }
</ol>